<!DOCTYPE html>
<html>
  <head>
    <title>Dev News</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- jss-insertion-point -->
    <%= javascript_pack_tag 'index' %>
    <%= stylesheet_pack_tag 'app' %>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">

    <link rel="icon" type="image/png" href="/icons/16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/icons/32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/icons/96x96.png" sizes="96x96">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
